body {
    background-color: #000000;
    background-image:url(./Assets/bg-stars.gif);
}

a {
    text-decoration:none;
    color:#ebe4de;
    text-align:center;
    font-family:serif;
}

nav {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    background-color:#000000;
}

.logo {
    display: flex;
    margin-right:30px;
}
.menu-items {
    display: flex;
    font-size:large;
    gap:50px;
    margin-right:30px;
}

.description {
    display:flex;
    margin-top:50px;
    margin-bottom:50px;
    margin-left:30px;
    font-size:large;
    color:#ebe4de;
    text-align:justify;
    font-family:sans-serif;
    opacity: 0;
    animation: 4s fadeIn;
    animation-fill-mode: forwards;
    transition: opacity 1.5s;
}

footer {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    background-color:#181716;
    color:#564c45;
    font-family:sans-serif;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.row-one-cards {
    display:flex;
    flex-wrap:wrap;
    margin: 30px;
    justify-content:space-between;
    animation: 3s fadeIn;
    opacity:0;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.row-two-cards {
    display:flex;
    flex-wrap:wrap-reverse;
    margin: 30px;
    justify-content:space-between;
    animation:3s fadeIn;
    opacity:0;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.individual-card {
    background-color: transparent;
    width: 160px;
    height: 240px;
    perspective: 1000px;
  }

.flip-card-inner {
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.individual-card:hover .flip-card-inner {
    display:flex;
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    display:flex;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    position:absolute;
    display:flex;
    background-color: #ebdeeb;
    color: black;
    border-radius: 15px;
}

  .flip-card-back {
    position:absolute;
    display:flex;
    background-color: #ebdeeb;
    color: white;
    border-radius: 15px;
    transform: rotateY(180deg);
}

.mouse-container {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index:-100;
}


@media only screen and (max-width: 800px) {
    .row-one-cards {
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        align-content:center;
        animation: 3s fadeIn;
        opacity:0;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }
    .row-two-cards {
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        align-content:center;
        animation: 3s fadeIn;
        opacity:0;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }
  }