body {
    background-color: #000000;
    background-image:url(./Assets/bg-stars.gif);
}

a {
    text-decoration:none;
    color:#dabbdb;
    text-align:center;
    font-family:sans-serif;
}

.button {
    display:flex;
    align-items:center;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
    margin-top:300px;
    border-radius: 15px;
    width:200px;
    height:30px;
    background-color:#151516;
    padding:5px;
    cursor:pointer;
    text-align:center;
}

.mouse-container {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index:-100;
}